html {
    box-sizing:border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

*, ::after, ::before {
    box-sizing: inherit;
}

header {
    width: 100%;
    background-image: url("headerphoto.jpg");
    background-position: top 20%;
    background-repeat: no-repeat;
    background-size:cover;
}

nav {
    display: flex;
    justify-content: space-between;
}

section {
    padding: 30px 90px;
}