@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');



.nav__img {
    margin-left: 90px;
}

.nav__links {
    margin-right: 120px;
    margin-top: 55px;
}

.logo {
    max-width: 175px;
}

a.last {
    color: #F3BD9E;
    outline: solid 1px #F3BD9E;
    padding: 10px;
}

a.last:hover {
    border-bottom: none;
    outline: solid 1px white;
    color: white;
    transition-duration: 0.3s;

}

a.last:active {
    color: #f1d6c6;
    outline-color: #f1d6c6;
}

.header {
    margin-left: 120px;
}


.headline {
    color: white;
    font-size: 61px;
    letter-spacing: 0.1em;
}

.header__Button {
    background-color: #5E5F7A;
    border: 1px solid rgba(255, 255, 255, 0);
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    border-radius: 42em;
    padding: 10px;
    margin: 0 0 100px 0;
    outline: none;
}

.header__moreLink {
    color: black;
    margin: 0;
    text-transform: none;
}

.header__Button:hover {
    transition-duration: 0.3s;
    background-color: #5e5f7a00;
    border: 1px solid #5e5f7a;
}

.header__moreLink:hover {
    border:none;
    color: rgba(255, 255, 255, 0.767);
}

.socialMedia__link {
    margin:0;
}

.socialMedia__link:hover {
    opacity:70%;
}

.socialMedia__icon {
    max-width: 30px;
    opacity: 80%;
    margin-bottom: 30px;
}

.offer {
    background-color: #f3bd9e34;

}

.offer__element {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer__left, .offer__right {
    width: 40%;
}

.offer__img {
    max-width: 300px;
}