@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');



.nav__img {
    margin-left: 90px;
}

.nav__links {
    margin-right: 120px;
    margin-top: 55px;
}

.logo {
    max-width: 175px;
}

a.last {
    color: #F3BD9E;
    outline: solid 1px #F3BD9E;
    padding: 10px;
    border-radius: 3em;
}

a.last:hover {
    border-bottom: none;
    outline: solid 1px white;
    color: white;
    transition-duration: 0.3s;

}

a.last:active {
    color: #f1d6c6;
    outline-color: #f1d6c6;
}

.header {
    margin-left: 120px;
}


.headline {
    color: white;
    font-size: 61px;
    letter-spacing: 0.1em;
}

.header__Button {
    background-color: #5E5F7A;
    border: 1px solid rgba(255, 255, 255, 0);
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    border-radius: 3em;
    padding: 10px;
    margin: 0 0 100px 0;
    outline: none;
}

.header__moreLink {
    color: black;
    margin: 0;
    text-transform: none;
}

.header__Button:hover {
    transition-duration: 0.3s;
    background-color: #5e5f7a00;
    border: 1px solid #5e5f7a;
}

.header__moreLink:hover {
    border: none;
    color: rgba(255, 255, 255, 0.767);
}

.socialMedia__link {
    margin: 0;
}

.socialMedia__link:hover {
    opacity: 70%;
}

.socialMedia__icon {
    max-width: 30px;
    opacity: 80%;
    margin-bottom: 30px;
}

.about h1, .offer h1, .video h1 {
    padding-bottom: 30px;
    color: #2F3555;
}

.about p {
    text-align: justify;
}

.offer {
    background-color: #f3bd9e24;

}

.offer__element {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer__left, .offer__right {
    width: 40%;
}

.offer__img {
    max-width: 100%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.62);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.62);
}

.offer__left p, .offer__left h3 {
    text-align: right;
}


.fadeInLeft {
    -webkit-animation: fadeInLeft 1.4s both;
    -moz-animation: fadeInLeft 1.4s both;
    -o-animation: fadeInLeft 1.4s both;
    animation: fadeInLeft 1.4s both;
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -moz-transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}
@-o-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -o-transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        -o-transform: translateX(0);
    }
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadeInTop {
    -webkit-animation: fadeInTop 1.4s both;
    -moz-animation: fadeInTop 1.4s both;
    -o-animation: fadeInTop 1.4s both;
    animation: fadeInTop 1.4s both;
}

@-webkit-keyframes fadeInTop {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
@-moz-keyframes fadeInTop {
    0% {
        opacity: 0;
        -moz-transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}
@-o-keyframes fadeInTop {
    0% {
        opacity: 0;
        -o-transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}
@keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInRight {
    -webkit-animation: fadeInRight 1.4s both;
    -moz-animation: fadeInRight 1.4s both;
    -o-animation: fadeInRight 1.4s both;
    animation: fadeInRight 1.4s both;
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes fadeInRight {
    0% {
        opacity: 0;
        -moz-transform: translateX(100px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}
@-o-keyframes fadeInRight {
    0% {
        opacity: 0;
        -o-transform: translateX(100px);
    }
    100% {
        opacity: 1;
        -o-transform: translateX(0);
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.video__element {
    display: flex;
    justify-content: space-between;
}
